@media all and (min-width: 501px)  {
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;    
     font-family: "DM Sans";
    }
    
  body {
      /* background-color: #E5E5E5; */
      width: 100%;
   }

   .header {        
        display: flex;
        flex-direction: row;
        width: 75%;  
        margin-top: 35px;     
    }
    
    #logo-banner {       
        margin: 20px 0px 0px 50px;         
    }

    .header-nav {               
     width: 100%;
     padding-top: 10px  ;
     margin: 25px 0px 0px 0px; 
     /* font-size: 0.8em;        */
     font-size: 12px;
    }   

    nav a{
     text-decoration: none;  
     color: #901C1C;    
     border: 0.5px solid #C4C4C4;
     border-radius: 11px; 
     margin-right: 5px;   
     padding-right: 10px;  
     font-weight: 500;      
    }     

    nav a:hover{
    color: #D3573C; 
    }

    nav ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }
    .header-nav-tag {
        list-style-type: none;
       
    }
    a.tag, a.tag1 {
      padding-left: 10px;  
      text-decoration: none;  
     color: #901C1C;    
     border: 0.5px solid #C4C4C4;
     border-radius: 11px; 
     margin-right: 5px;   
     padding-right: 10px;  
     font-weight: 500;   
     font-size: 12px;   
           
    }
 
   .title {
        color: #901C1C;
        font-weight: 400;
        /* font-size: 2rem; */
        font-size: 36px;
        position: absolute;
        right: 1%;
        top: 8%;
        margin-right: 50px;       
    }
    /*Section-accueil info photograhes*/   

   .photographes { /*6 photographes*/        
      display: flex;   
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;     
      padding-top: 50px;   
      gap: 16%;    
    }    
    .photos-photographe {
       width: 20%;  
       object-fit: contain;     
    }
    .photo__presentation {        
        width: 200px;
        height: 200px;               
        border-radius: 50%;  
        object-fit: cover;    
        cursor: pointer;    
    }
    
    .photo__legend {       
        display: flex;
        flex-direction: column;    
        text-align: center;
        /* margin: 10px 0px 0px 20px; */
        padding-bottom: 25px;
    }       
    
    .name { 
     color: #D3573C;   
     font-weight: 400;
     font-size: 2em;
     cursor: pointer;
    }

    .city {
        color: #901C1C; 
        font-size: 0.7em; 
    }     

    .tagLine {
        font-size: 0.6rem;
        color: #000000;
        padding: 3px;
    }
    .price{
        font-size: 0.6em;
        color: #757575;
    }
    .tag__photographe{
        color: #901C1C;
        font-size: 12px;
        border: 0.5px solid #C4C4C4;
        border-radius: 11px; 
        /* gap: 5%; */

    }

    /* page profil */

    .header-information__photographe {
        /* background-color: #f2f2f2; */
        margin: 20px 65px 0 65px;  background-color: aqua;    
    }
    /* .photographe {
        width: 100%;
    } */
   
    .img__profile {  
        width: 200px;
        height: 200px;        
        border-radius: 50%;  
        object-fit: cover;          
        /* margin-left: 40px;  */
        position: absolute;
         right: 100px; 
        /* left: 50px; */
       
    }
    .photo__legendProfile {
        margin-bottom: 50px;       
    }
    .name__profile {
        color: #D3573C;   
        font-weight: 400;
        font-size: 64px;        
    }
    .city__profile {
        font-size: 24px;
        color: #901C1C;         
    }
    .tagLine__profile {     
        font-size: 18px;
        color: #000000;
        margin-bottom: 7px 0px 0px 5px;
    }
    /* .price__profile {

    } */
    .btn-contactez {
        height: 70px;
        width: 170px;
        border-radius: 5px;
        /* font-size: .1rem; */
        /* padding: 10px; */
        background-color: #901C1C;
        color: #ffffff;      
        border: 1px #901C1C solid;
        border-radius: 5px;
        font-size: 20px;
        position: absolute;
        left: 600px;
        top: 140px; 
        cursor: pointer
    }   

    .label-tri {
        font-size: 18px;   
        font-weight: 700; 
        margin: 0px 65px 0 ;           
    }
    
    /* menu deroulant tri*/
    /*on masque le menu*/
    .custom-select {
        color: #ffffff;
        font-size: 18px;
        font-weight: 500;
    } 
    .custom-select select {
        display: none;
    }
     .new-select {
        background-color:#901C1C;
        width: 15%;
        position: relative;
        left: 150px;
        /* top: 15px; */
        padding: 7px;
    }
    .new-select::after{
        content: "";
        position: absolute;
        top: 14px;
        right: 5px;
        border: 6px solid;
        border-color: #ffffff transparent transparent; 
        /* height: 0%;*/
    }

    .new-select.active::after{
        border-color:  transparent transparent #ffffff;
        top: 7px;
    }
    .select-items div {
        background-color: #901C1C;
        padding: 7px;
        border-bottom: 1px solid;
        cursor: pointer;
        width: 15%;
        position: relative;
        left: 150px;
    }
    .select-hide {
        display: none;
    }

    /*page tags*/
    /* .photographe {
        width: 100%;
    } */
    /* .photographe {    
       display: flex;   
       justify-content: space-around;
    } */
    .photo__tags {
        background-color: aqua;
        /* display: flex;     */
        justify-content: center;
        /* justify-content: space-around; */
        margin-top: 50px;
        text-align: center;

    }
    .tag__photographeTags{
        color: #901C1C;
        font-size: 1rem;
        border: 0.5px solid #C4C4C4;
        border-radius: 11px; 
    }
  
    .img__tags {        
        width: 200px;
        height: 200px;    
        border-radius: 50%;
        /* margin-right: 25px;
        margin-bottom: 25px; */
        margin-left: 5px;
    }
    .name__tags { 
    color: #D3573C;   
    font-weight: 400;
    font-size: 2em;
    cursor: pointer;
    }

    .city__tags  {
        color: #901C1C; 
        font-size: 0.7em; 
    }     

    .tagLine__tags {
        font-size: 0.6rem;
        color: #000000;
        padding: 3px;
    }

    .price__tags{
        font-size: 0.6em;
        color: #757575;
    }
    .tag__photographe{
        color: #901C1C;
        font-size: 12px;
        border: 0.5px solid #C4C4C4;
        border-radius: 11px; 
       }
    }